# Environnements virtuels et fichiers temporaires
env/
__pycache__/
*.pyc
*.pyo

# Config éditeur
.vscode/
.idea/

# Fichiers d'environnement
.env

# Ignorer toutes les images dans static/images/
static/images/*
static/maps/*
static/fichiers/*

# Ignorer le dossier des manifests JSON pour PowerApps
Manifests json/

# Ignorer les fichiers de documentation Markdown
*.md

# Garder le dossier vide dans le repo
!static/images/.gitkeep
!static/maps/.gitkeep
!static/fichiers/.gitkeep
